[submodule "Yis/vendor/spdlog"]
	path = Yis/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Yis/vendor/imgui"]
	path = Yis/vendor/imgui
	url = https://github.com/alalba221/imgui.git
[submodule "Yis/vendor/GLFW"]
	path = Yis/vendor/GLFW
	url = https://github.com/alalba221/glfw.git
[submodule "Yis/vendor/glm"]
	path = Yis/vendor/glm
	url = https://github.com/g-truc/glm
